{% extends 'base_template.html' %}
{% load static %}


{% block header %}
<section id="hero">
  <div class="hero-container">
    <h1>Contact Us</h1>
  </div>
</section>

<main id="main">
{% endblock header %}


{% block content %}

<section id="tutorials">
  <div class="container" style="padding-left: 100px; padding-right: 100px">
    <div class="section-header">
      <div>
        <img src="{% static 'img/at-bg.png' %}" style="
        width: 100%;
        margin-top: -70px;
        margin-bottom: -10px;
        ">
    </div>

      <p class="docp">

        If you have any question related to the webserver or any general inquiry about any aspect of its functionality,
        please do not hesitate to contact us using the following contact details:
      </p>
      <p style="padding-bottom: 10px;"></p>
            <div class="row about-container">
              <div class="col-lg-6" style="text-align: center;">
                  <h4 style="text-align: center;">Besian I. Sejdiu</h4>
                  <p style="margin-top: -14px; text-align: center;">besian.sejdiu@ucalgary.ca</p>
              </div>

              <div class="col-lg-6">
                <h4 style="text-align: center;">D. Peter Tieleman</h4>
                <p style="margin-top: -14px; text-align: center;">tieleman@ucalgary.ca</p>
              </div>
            </div>
            <p style="text-align: center; margin-top: 0;">
              <a href="https://www.ucalgary.ca/tieleman" style="color: black; font-weight: 900;" target="_blank">D. Peter Tieleman Lab</a>
              <i class="fas fa-external-link-alt"></i>
            </p>
            <p style="text-align: center; margin-top: -30px;">Centre for Molecular Simulation</p>
            <p style="text-align: center; margin-top: -30px;">Department of Biology</p>
            <p style="text-align: center; margin-top: -30px;">University of Calgary</p>


<div>
  <ul style="list-style: none; padding-top: 50px">
    <li style="color: black; font-weight: 600;">Besian's current address:</li>
    <li><span>M. Madan Babu Group</span></li>
    <li>besian.sejdiu@stjude.org</li>
    <li>Center for Data Driven Discovery</li>
    <li>Structural Biology Department</li>
    <li>St. Jude Children's Research Hospital</li>
    <li><a style="color: black; font-weight: 900; text-decoration: underline;" href="https://mbgroup.bio/members" target="_blank">mbgroup.bio</a> <i class="fas fa-external-link-alt"></i></li>
  </ul>
</div>
      </p>
  </div>
  </div>
</section>

{% endblock %}

{% block javascript %}
<script>
  // dealing with the nav-menu underline
  if ($('.nav-menu').length) {
    $('.nav-menu .menu-active').removeClass('menu-active');
  }
  $("#docs").addClass('menu-active');
</script>
{% endblock javascript %}
