{% extends 'base_template.html' %}
{% load static %}

{% block header %}
<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<section id="hero">
  <div class="hero-container">
    <h1>Tutorials</h1>
    <h2>Getting started using ProLint</h2>
  </div>
</section>

<main id="main">
  {% endblock header %}


  {% block content %}

  <style>
    .docp {
      text-align: justify;
      text-justify: inter-word;
    }

    h4 {
      color: black;
    }

    ol {
      list-style: none;
      counter-reset: li
    }

    ol li::before {
      content: counter(li);
      color: black;
      display: inline-block;
      width: 1.2em;
      margin-left: -1em
    }

    ol li {
      counter-increment: li
    }

    a {
      color: black;
      font-weight: 900;
    }
  </style>

  <section id="about">
    <div class="container" style="padding-left: 100px; padding-right: 100px">
      <div class="section-header">
        <div>
          <img src="{% static 'img/at-bg.png' %}" style="
          width: 100%;
          margin-top: -70px;
          margin-bottom: -10px;
          ">
        </div>

        <!-- <h2 class="section-title"><span style="text-transform:none;">Submit Jobs and View Results</span></h2> -->
        <!-- <br> -->
        <p class="docp" style="font-style: italic; text-align: center;">
          ProLint is intended to be used by both <span
            style="font-weight: 900; color: black; text-decoration: underline;">computational scientist</span> and
          <span style="font-weight: 900; color: black; text-decoration: underline;">experimentalists</span> alike.
          Therefore, this tutorial is organized in two parts. The first part explains how you can submit output files
          from
          Molecular Dynamics Simulations to the server to calculate the lipid-protein interaction profile of your system
          of interest.
          The second part details how you can view, interact and interpret the output results of a ProLint run.
        </p>
        <h4>I. Submitting Jobs to ProLint</h4>
        <p class="docp">
          For testing purposes, we provide ready to use files that can be uploaded to ProLint to see how the webserver
          works and to know the type of files that are accepted (see below for more information on file formats). Head
          over to the following
          <a href="https://github.com/bisejdiu/ProLintData" target="_blank">GitHub page</a> <i class="fas fa-external-link-alt"></i> and download some sample
          data. There are a few possible system setups available. You can use any system you prefer for this tutorial.
          You can also feel free to use any of your own data files as well. <br><br>
          Let's say we want to study the lipid interaction profile of the Smoothened receptor.
          <br><br>
          From the GitHub repository mentioned above, download the following files (go to the Smoothened folder and
          choose the files listed below from
          either the mid or small folder; choose the former if you want the calculations to finish quicker or the latter
          if you want a better
          accuracy of the results.):
          <br>
          <ul>
            <li>trajectory.xtc</li>
            <li>coordinates.gro</li>
          </ul>
        </p>
        <p class="docp">
          These are simulation files that are generated by GROMACS. The second is a coordinate file (not much different
          from
          a pdb file) and the first is a trajectory file that contains information on the dynamics of the system as a
          function of time. The
          table below explains the submission form used by ProLint to gather user input. It also gives a description of
          each field and two
          different examples of the type of input that is accepted.

        </p>

        <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <div class="table100 ver1 m-b-110">
                <table data-vertable="ver1">
                  <thead>
                    <tr class="row100 head">
                      <th class="column100 column1" data-column="column1" id="column1">Form Field</th>
                      <th class="column100 column2" data-column="column2" id="column2">Requirement</th>
                      <th class="column100 column3" data-column="column3" id="column3">Description</th>
                      <th class="column100 column4" data-column="column4" id="column4">Example Input 1</th>
                      <th class="column100 column5" data-column="column5" id="column5">Example Input 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Submission Title</td>
                      <td class="column100 column2" data-column="column2"><span style="color: red">required</span></td>
                      <td class="column100 column3" data-column="column3">The title of your submission project. Use
                        whatever title you prefer.</td>
                      <td class="column100 column4" data-column="column4">My descriptive title!</td>
                      <td class="column100 column5" data-column="column5">ABCD-Lipid Interactions</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Protein Name(s)</td>
                      <td class="column100 column2" data-column="column2"><span style="color: red">required</span></td>
                      <td class="column100 column3" data-column="column3">Give a name to your protein. When multiple
                        protein are present in the system, name them in the order they appear in the topology.</td>
                      <td class="column100 column4" data-column="column4">3SN6-POPC</td>
                      <td class="column100 column5" data-column="column5">Protein1, Protein2</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Trajectory File</td>
                      <td class="column100 column2" data-column="column2"><span style="color: red">required</span></td>
                      <td class="column100 column3" data-column="column3">Specify the trajectory file to use.</td>
                      <td class="column100 column4" data-column="column4">trajectroy.xtc</td>
                      <td class="column100 column5" data-column="column5">--</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Coordinate File</td>
                      <td class="column100 column2" data-column="column2"><span style="color: red">required</span></td>
                      <td class="column100 column3" data-column="column3">Specify the coordinate file to use.</td>
                      <td class="column100 column4" data-column="column4">coordinates.gro</td>
                      <td class="column100 column5" data-column="column5">--</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Lipid Grouping</td>
                      <td class="column100 column2" data-column="column2"><span style="color: blue">optional</span></td>
                      <td class="column100 column3" data-column="column3">
                        Group lipids according to their headgroup type. E.g., POPC, POPE, PIPC, and PIPE lipids
                        would be grouped as PC and PE lipids. For Martini systems you would want to define a larger
                        cutoff compared
                        to atomistic systems.
                      </td>
                      <td class="column100 column4" data-column="column4">Check</td>
                      <td class="column100 column5" data-column="column5">Uncheck</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Distance Cutoff</td>
                      <td class="column100 column2" data-column="column2"><span style="color: red">required</span></td>
                      <td class="column100 column3" data-column="column3">The is the distance value that is used to
                        define what constitutes as a contact between lipids and residues.</td>
                      <td class="column100 column4" data-column="column4">7Å</td>
                      <td class="column100 column5" data-column="column5">3Å and 4Å</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Lipid Filtering</td>
                      <td class="column100 column2" data-column="column2"><span style="color: blue">optional</span></td>
                      <td class="column100 column3" data-column="column3">Calcualte interactions only with the listed
                        lipids.</td>
                      <td class="column100 column4" data-column="column4">CHOL</td>
                      <td class="column100 column5" data-column="column5">CHOL, POP2, PIPC</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">The Resolution</td>
                      <td class="column100 column2" data-column="column2"><span style="color: red">required</span></td>
                      <td class="column100 column3" data-column="column3">The resolution of the input data: martini CG or atomistic</td>
                      <td class="column100 column4" data-column="column4">The Martini Model</td>
                      <td class="column100 column5" data-column="column5">Atomistic Models</td>
                    </tr>

                    <tr class="row100">
                      <td class="column100 column1" data-column="column1">Type of Analysis</td>
                      <td class="column100 column2" data-column="column2"><span style="color: red">required</span></td>
                      <td class="column100 column3" data-column="column3">Specify what type of analysis to perform. Contact-based are most time-consuming.</td>
                      <td class="column100 column4" data-column="column4">Tick all</td>
                      <td class="column100 column5" data-column="column5">Physical-properties</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <p class="docp">
          For the purpose of this tutorial, after downloading the example data mentioned above, you can provide the
          following input
          to the form, but please feel free to deviate from the suggestions below:

          <div class="container">
            <div class="row">
              <div class="col">
                <ul style="list-style: none; text-align: right;">
                  <li>Submission Title:</li>
                  <li>Protein Name(s):</li>
                  <li>Trajectory File:</li>
                  <li>Coordinate File:</li>
                  <li>Lipid Grouping:</li>
                  <li>Distance Cutoff:</li>
                  <li>Lipid Filtering:</li>
                  <li>The Resolution:</li>
                  <li>Type of analysis:</li>

                </ul>
              </div>
              <div class="col-8">
                <ul style="list-style: none; text-align: left;">
                  <li><span style="color: black; font-weight: 500;">ProLint Example Project</span></li>
                  <li><span style="color: black; font-weight: 500;">SMO</span></li>
                  <li><span style="color: black; font-weight: 500;">trajectroy.xtc</span></li>
                  <li><span style="color: black; font-weight: 500;">coordinates.gro</span></li>
                  <li><span style="color: black; font-weight: 500;">Check</span></li>
                  <li><span style="color: black; font-weight: 500;">5Å</span></li>
                  <li><span style="color: black; font-weight: 500; font-size: 14px;">CHOL, POP1, POP2, POP3, DPG1, DXG1, PNG1, XNG1,
                    DPG3, DXG3, PNG3, XNG3</span></li>
                    <li><span style="color: black; font-weight: 500;">The Martini model</span></li>
                    <li><span style="color: black; font-weight: 500;">Select any (or a combination) of the options</span></li>
              </ul>
              </div>
            </div>
          </div>
      </div>
      </p>
      <p class="docp">
        Above we instruct ProLint to calculate lipid-protein interactions for Smoothened by measuring contacts within a
        5Å radius from each residue and
        only looking for the listed lipids above (and not all 60+ lipid types present in the system, which would have
        taken conserably more time to compute).
        We also make sure to check the option to group lipids according to their headgroup type. This allows us to
        compare the interactions between cholesterol,
        PIP lipids and GM lipids as a whole.
      </p>
      <p class="docp">
        Click <span style="color: black; font-weight: 500;">Submit</span> and wait for the files to upload.<br><br>
        Depending on the size of the files and your internet connection, it may take some time until the files are
        uploaded. Once that happens, you will be presented with a page where you can monitor the status of your job.
        More details will be provided there, but please note that you should either bookmark that page or write down the
        unique identifier that
        will be given to you. You can use that identifier to access your results for 24 hours after your results have
        finished calculating.
        <br>
        Calculating lipid-protein interactions is quite time-consuming so please be patient. It can take up anywhere
        from 1-3 hourse for the calculations to finish (depending on the input data). We also have limited resources, so
        jobs are put into a queue
        waiting their turn to get processed. The time quoted above considers only the calculation time, not queueing
        time.
        <br>
      </p>

      <h5 style="color: black; font-size: 18px;">Overview of input file requirements</h5>
      <p class="docp">
        Input Files have to prepared/processed a little before they can be read by ProLint. This preprocessing step which has
        to be done by the user, includes tasks that are standard practice in the MD field and there should be plenty of information
        and tools available to do this steps. <br>
        Here is a summary of the requirements data files have to satisfy:
      </p>
        <ul style="text-align: justify; text-justify: inter-word;">
          <li>Leave only proteins and lipids in the data files. Remove all water, ion, and any ligand residues from both
            the coordinate and trajectory files. This can be easily done using standard GROMACS utilities such as trjconv
            and editconf with an appropriate index file.
          </li>
          <li>
            If proteins move freely in the x-y dimension, you may want to process the trajectory to center the protein.
          </li>
          <li>
            For best results, make sure to also remove the periodicity of the system.
          </li>
          <li>
            Most of the testing has been done with data files using the Martini model. Loading atomistic simulation data is
            allowed and has been added as an early beta feature. We are actively working on improving it, but your submissions
            may fail. We welcome you to contact us for more information and to help us fix any potential bugs/issues.
          </li>
          <li>
            Lipids and lipid names have to conform to the Martini terminology. Lipids that are not part of the Martini lipidome
            will fail to be recognized as lipids by ProLint and your submission will fail testing checks done on uploaded data files.
            If you have a nonstandard lipid in your system, you should rename it to the most closely related standard lipid and most
            of the calculations will work.
          </li>
        </ul>
      </p>


      <p class="docp">
        To understand how the backend works and how contacts are calculated see the page on Analysis Reference.
        <br>
        To learn how lipid-protein interactions are visualized and the supported user interactivity, see the page on
        Visualization Reference.
      </p><br>

      <!-- <p class="docp"> -->
        <h4>II. Viewing Results</h4>
      <!-- </p> -->
      <p class="docp">
        This section can be completed by anyone, even if you did not follow the tutorial above.
      </p>

        <h5 style="color: black; font-size: 18px;">Background</h5>
        <p class="docp">
        Why would we want to study how Smoothened (SMO) interacts with its surrounding lipid environment? For one, there is considerable
        <a href="https://www.nature.com/articles/s41589-020-00678-2" target="_blank">evidence </a><i class="fas fa-external-link-alt"></i>
        showing that lipid-protein interactions in general, and interactions with cholesterol in particular are important
        for the function of Smoothened. In fact, cholesterol has been <a href="https://www.nature.com/articles/s41586-019-1355-4" target="_blank">observed </a><i class="fas fa-external-link-alt"></i>
        to completely enter the 7-helical core of the receptor. How does cholesterol access the inside of the receptor and
        how does it modulate its activity? To get a better understanding, MD simulations may be and have been used.
        <br><br>
        If you followed the tutorial above and your job finished calculating, then you can access it from the job submission page. You can
        view the lipid-protein interaction profile of Smoothened using the different interactive applications implemented by ProLint. If you
        did not follow or complete the tutorial, you can still visualize the results of a similar submission (using similar files) that has
        been precomputed. You can access it here: <strong>TODO: add link</strong>.
        </p>
        <h5 style="color: black; font-size: 18px;">Conclusions</h5>
        <p class="docp">
        There are quite a few different conclusions that can be reached from the data. Here is what I believe is an obvious result. We can see
        that Smoothened forms a highly preferential interaction with cholesterol that is maintained for most of the simulation time. We can also see
        (e.g., using the Heatmap Viewer application) that this site is located between TM helices II and III of Smoothened. This is a very nice result
        and it matches quite nicely with what has been previously reported in the literture (for example, here and here).
      </p>

    </div>
    </div>
  </section>

  {% endblock %}

  {% block javascript %}
  <script>
    (function ($) {
      "use strict";
      $('.column100').on('mouseover', function () {
        var table1 = $(this).parent().parent().parent();
        var table2 = $(this).parent().parent();
        var verTable = $(table1).data('vertable') + "";
        var column = $(this).data('column') + "";

        $(table2).find("." + column).addClass('hov-column-' + verTable);
        $(table1).find(".row100.head ." + column).addClass('hov-column-head-' + verTable);
      });

      $('.column100').on('mouseout', function () {
        var table1 = $(this).parent().parent().parent();
        var table2 = $(this).parent().parent();
        var verTable = $(table1).data('vertable') + "";
        var column = $(this).data('column') + "";

        $(table2).find("." + column).removeClass('hov-column-' + verTable);
        $(table1).find(".row100.head ." + column).removeClass('hov-column-head-' + verTable);
      });


    })(jQuery);

  if ($('.nav-menu').length) {
    $('.nav-menu .menu-active').removeClass('menu-active');
  }
//   console.log('docs: ', $("#docs"))
  $("#docs").addClass('menu-active');

  </script>
  {% endblock javascript %}