/* #zcontainer {
    display: table;
    margin: 0 auto;
  } */

  html, body {
    height: 100%;
}


body {
    /* overflow: 'hidden' !important; */
    font-family: 'Poppins', sans-serif !important;
}

.footer {
    top: 50px !important;
}

.navbar {
    margin:0 !important;
}


.bk-root .bk-input {
line-height: 2em !important;
padding-left: 0.8em !important;
padding-right: 1.0em !important;
border-radius: 3em !important;
border: none !important;
color: #fff !important;
display: inline-block !important;
font-weight: 500 !important;
position: relative !important;
background-color: #635359 !important;
}
.bk-root .bk-noUi-connect {
-webkit-appearance: none !important;
width: 100% !important;
height: 0.75em !important;
border-radius: 5px !important;
background: #d3d3d3 !important;
outline: none !important;
opacity: 0.7 !important;
-webkit-transition: .2s !important;
transition: opacity .2s !important;
}

.bk-noUi-handle {
-webkit-appearance: none !important;
appearance: none !important;
width: 1.65em !important;
height: 1.65em !important;
border-radius: 50% !important;
background: #635359 !important;
cursor: pointer !important;
 -webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}

